:root {
  color-scheme: light dark;
}

body {
  max-width: 55em;
  padding: 0.5em;
  margin: auto;
  font-family: system-ui, sans-serif;
}

.section {
  margin: 0.5%;
  padding: 0.6em;
  border-radius: 2px;
  border: 2px solid grey;
}

.section-title {
  margin-top: 0px;
  font-size: 1.4em;
  font-family: ui-rounded, system-ui, sans-serif;
}

pre.logline {
  margin: 0;
}

h1 a {
  text-decoration: none;
}

.trace {
  color: light-dark(#444, #ccc);
}
.debug {
  color: light-dark(#308099, #80c8ed);
}
.info {
  color: light-dark(black, white);
}
.notice {
  color light-dark(#494211, #f7f2d4);
}
.warn {
  color: light-dark(#b77203, #f78c1b);
}
.error {
  color: light-dark(#a00901,  #e01c06);
}
.fatal {
  background: light-dark(#a00901, #e01c06);
  color: white;
}

header {
  text-align: center;
  font-family: monospace;
}

.mono {
  font-family: monospace;
}

.section {
  width: 98%;
}

table {
  width: 100%;
}
