body {
  max-width: 55em;
  padding: 0.5em;
  margin: auto;
  font-family: system-ui, sans-serif;
}

.section {
  margin: 0.5%;
  padding: 0.6em;
  border-radius: 2px;
  border: 2px solid grey;
}

.section-title {
  margin-top: 0px;
  font-size: 1.4em;
  font-family: ui-rounded, system-ui, sans-serif;
}

h1 a {
  text-decoration: none;
}

.trace {
  color: #444;
}
.debug {
  color: #308099;
}
.info {
  color: black;
}
.notice {
  color #494211;
}
.warn {
  color: #b77203;
}
.error {
  color: #a00901
}
.fatal {
  background: #a00901;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .trace {
    color: #ccc;
  }
  .debug {
    color: #80c8ed;
  }
  .info {
    color: white;
  }
  .notice {
    color: #f7f2d4
  }
  .warn {
    color: #f78c1b;
  }
  .error {
    color: #e01c06;
  }
  .fatal {
    background: #e01c06;
    color: white;
  }
}

header {
  text-align: center;
  font-family: monospace;
}

.mono {
  font-family: monospace;
}

.section {
  width: 98%;
}

table {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
  a {
    color: cornflowerblue;
  }
  a:hover, a:visited {
    color: aqua;
  }
}
